/* Cosmotyl Keyboard Keymap */

&cosmotyl_keymap {
    compatible = "zmk,keymap";
    label = "Cosmotyl Keymap";

    bindings = <
        // Spalte 0           Spalte 1           Spalte 2           Spalte 3           Spalte 4           Spalte 5
        &kp 1                &kp 2              &kp 3              &kp 4              &kp 5              &kp 6        // Reihe 0
        &kp Q                &kp W              &kp E              &kp R              &kp T              &kp Z        // Reihe 1
        &kp A                &kp S              &kp D              &kp F              &kp G              &kp H        // Reihe 2
        &kp LSHIFT           &kp LCTRL          &kp LALT           &kp SPACE          &kp BACKSPACE      &kp ESC      // Reihe 3

        // Daumentasten
        &none                &none              &none              &kp TAB            &kp SPACE          &kp BACKSPACE
    >;
};
